@use '../../../../styles/ads-global' as ads;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 50px;
    color: ads.$ads-color-white;
    background-color: ads.$ads-color-primary-bg;
    box-shadow: ads.$ads-color-box-shadow;
}